.login-container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 100px;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.password-container {
  position: relative;
}

#password {
  width: 93%;
}

.eye-icon {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-button {
  border-radius: 5px;
  border: none;
  background-color: #0686ec;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
